// Helvetica Fonts
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Thin.otf') format('opentype'),
    url('../fonts/HelveticaNeue-Thin.woff') format('woff'), url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Light.otf') format('opentype'),
    url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue.otf') format('opentype'),
        url('../fonts/HelveticaNeue.woff') format('woff'),
        url('../fonts/HelveticaNeue.ttf') format('truetype'),
        url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Bold.otf') format('opentype'),
        url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
}

*, *:before, *:after { box-sizing: inherit; }

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    max-width: 1024px;
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: #202020;
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
}

canvas {
    margin: auto;
    display: none;

    height: 768px;
    width: 1024px;

    max-height: 768px;
    max-width: 1024px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

noscript {
    margin: 80px auto 2px;
    display: block;
    width: 480px;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* Error */
#error {
    font-size: 30px;
    width: 400px;
    display: none;
    text-align: center;
    margin: 8px auto;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#warning {
    padding-top: 7px;
    font-size: 11px;
    display: none;
}

/* Options */
#sub {
    font-size: 9px;
    width: 480px;
    margin: 0 auto;
    display: none;
}

.sound {
    width: 220px;
    display: hidden;
}

.copyright {
    float: right;
    width: 260px;
    text-align: right;
}


#powered {
    bottom: 20px;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 20px;
    width: 150px;
    z-index: 15;
}

.logo-circle {
    position: absolute;
    left: 20px;
    top: 20px;
    max-width: 50px;
    z-index: 15;
}

/* Login */
#loginOverlay {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 220px;
    width: 100%;
    display: none;
    z-index: 10;
}

#loginBox, #offlineBox {
    display: none;
    text-align: center;
    width: 290px;
    margin: auto;
    font-size: 15px;
    /*opacity: 0.2;*/
}

#offlineBox {
    font-size: 25px;
    opacity: 0.25;
    display: none;
}

/*#loginBox:hover, #offlineBox:hover {
     opacity: 0.9;
}*/

input {
    -webkit-appearance: none;

    font-family: "HelveticaNeue", Arial, sans-serif;
    border: 1px #f0f0f0 solid;
    background-color: #000000;
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    width: 215px;
    padding: 10px;
}

input[type="button"] {
    margin: 0;
    margin-left: 2px;
    width: 64px;
}

/*input[type="button"]:active {
    background-color: #ffffff;
    color: #000000;
}*/

.controls {
    padding-top: 12px;
    font-size: 10px;
    clear: left;
}

.offline {
    padding-top: 8px;
    font-size: 12.5px;
    clear: left;
}

.offline a{
    font-size: 10px;
}

#goplaying {
    display: none;
}

#goplaying a {
    font-size: 14px;
    cursor: pointer;
}

#colors {
    margin: 10px 0 0;
    text-align: center;
}

.color {
    cursor: pointer;
    width: 41px;
    height: 41px;
    border: 2px #444444 solid;
    margin-right: 3px;
    display: inline-block;
    opacity: 0.25;
}

.color:hover {
    opacity: 0.5;
}

.colorselected {
    opacity: 1.0;
}

.colorselected:hover {
    opacity: 1.0;
}

#watch {
    padding-top: 2px;
    font-size: 11px;
}

#tutorialOverlay {
    display: none;
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#tutorial {
    opacity: 0;
    display: none;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-size: 15px;
}

#gameOverlay {
    position: absolute;
    padding-top: 13px;
    top: 0;
    left: 0;
    width: 100%;
}

#gameInfo {
    margin: auto;
    font-size: 12px;
    cursor: default;
}

#gameInfoRight {
    float: right;
    text-align: right;
    padding-right: 15px;
}

#gameInfoLeft {
    padding-left: 15px;
}


#achievementOverlay {
    display: none !important;
    position: absolute;
    padding-top: 80px;
    top: 0;
    left: 0;
    width: 100%;
}

#achievement {
    opacity: 0;
    text-align: center;
    width: 480px;
    margin: auto;
    font-size: 11px;
}

#achievement span {
    font-size: 21px;
}

#listener {
    display: none;
}

#gameController {
    background: #cb0000; //#cdcdcd;
    display: none;
    height: 100%;
    text-align: center;
    position: relative;
}

#gameController span {
    bottom: 0;
    display: block;
    height: 100px;
    font-size: 72px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

/*#gameController .button {
    background: #cb0000;
    border-radius: 50%;
    border: 0;
    color: #fff;
    font-size: 50px;
    height: 100px;
    font-weight: bold;
    width: 100px;
    position: relative;
}*/

/*#gameController .button.horizontal {
    background: #282828;
    border-radius: 0;
    height: 100px;
}

#gameController .button.horizontal svg {
    bottom: 0;
    display: block;
    left: 0;
    heigth: 88px;
    margin: auto;
    right: 0;
    top: 0;
    width: 88px;
}*/

@media screen and (max-width: 1023px) {
    body {
        background: #000;
    }

    canvas {
        display: none !important;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (orientation: portrait) {
    #gameController .wrap {
        height: 100%;
    }

    /*#gameController .button {
        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
             -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);

        display: block;
        margin: 10px auto;
    }

    #gameController .d-pad {
        left: 0;
        position: absolute;
        right: 0;
        top: 20px;
    }

    #gameController .commands {
        bottom: 20px;
        left: 0;
        position: absolute;
        right: 0;
    }*/
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (orientation: landscape) {
    #gameController .wrap {
        bottom: 0;
        height: 102px;
        margin: auto;
        position: absolute;
        top: 0;
        width: 100%;
    }

   /* #gameController .button {
        margin: 0 10px;
    }

    #gameController .d-pad {
        float: left;
        margin: 0 0 0 20px;
    }

    #gameController .commands {
        float: right;
        margin: 0 20px 0 0;
    }*/
}